/*Estilos generales*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--Gris-claro);
}

p {
    font-size: 12px;
}

h2 {
    font-size: 24px;
    color: var(--Gris-oscuro);
}

.precio {
    font-size: 18px;
    width: 30%;
}

.descuento,
.descripcion {
    font-size: 16px;
}

.descuento {
    color: var(--Verde);
    width: 70%;
}

.descripcion {
    color: var(--Gris-oscuro);
    display: none;
}

.tamaño {
    font-size: 2em;
}

:root {
    --Amarillo: #EAC926;
    --Azul: #03264C;
    --Celeste: #1259c3;
    --Gris-oscuro: #666;
    --Gris-claro: #ebebeb;
    --Verde: #39b54a;
    --Blanco: #fff;
}

figure {
    width: 0 auto;
    text-align: center;
}

.articles-container img {
    width: 90%;
}

.verde {
    color: var(--Verde);
}

input {
    border: none;
    outline-color: var(--Azul);
}

/*Aplicando CSS al header*/

header {
    background-color: var(--Amarillo);
}

header figure img{
    width: 90%;
}

.logo-container {
    width: 50%;
    margin: auto;
}

.logo-barra {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px 0;
}


header ul {
    display: none;
}

header p {
    text-align: center;
    margin: 10px 0;
}

.busqueda {
    width: 50%;
    display: flex;
    align-items: center;
}

.busqueda input {
    height: 40px;
    border-radius: 7px;
    width: 90%;
    padding-left: 10px;
    font-size: 18px;
}

.search-icon {
    display: inline-block;
    position: relative;
    right: 25px;
    background-color: var(--Blanco);
    padding: 4px;
}

.hand-holding {
    width: 70%;
}

.burger-menu {
    text-align: center;
}
.fa-bars {
    font-size: 1.5em;
    color: var(--Blanco);
    background-color: var(--Celeste);
    padding: 10px;
    margin: 17px;
    border-radius: 3px;
}

/*Aplicando CSS al main*/

main {
    width: 90%;
    margin: 0 auto;
}

.articles-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

main section div article {
    margin-bottom: 10px;
    background-color: var(--Blanco);
}

.detalles-producto {
    border-top: solid 1px var(--Gris-claro);
    padding: 15px;
    position: relative;
}

.fa-truck {
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}

.precio-descuento {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.precio {
    width: 50%;
}

.descuento {
    width: 50%;
}


/*Aplicando CSS al footer*/

footer {
    text-align: center;
    background-color: #FFF;
    padding: 10px;
}


footer section {
    margin: 15px;
}

footer section div i {
    color: var(--Celeste);
}

@media (min-width: 481px) {

    /*Estilos globales*/

    .descuento {
        width: 52%;
    }

    .precio {
        width: 48%;
    }

    .descripcion {
        display: block;
    }

    a {
        text-decoration: none;
        color: #000;
    }

    li {
        list-style-type: none;
    }
    /*Aplicando CSS al header*/
    
    .logo-container,
    .busqueda,
    .hand-holding {
        width: 32%;
    }


    header div ul {
        display: block;
    }

    .list-container {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 15px;
    }

    .derecha i {
        display: none;
    }

    .izquierda,
    .derecha {
        display: flex;
        justify-content: center;
        max-width: 50%;
        font-size: 13px;
        gap: 10px;
    }

    .burger-menu {
        display: none;
    }
    /*Aplicando CSS al main*/

    main section div article {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        width: 47%;
    }

    .articles-container {
        flex-direction: row;
        justify-content: space-between;
    }

    /*Aplicando CSS al footer*/
    
} 

@media (min-width: 769px) {
    /*Estilos globales*/
    /*Aplicando CSS al header*/

    .logo-barra {
        align-items: center;
    }

    .derecha i {
        display: block;
    }

    /*Aplicando CSS al main*/

    main section div article {
        width: 23%;
    }

    .articles-container {
        flex-direction: row;
        justify-content: space-between;
    }

    .descripcion {
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
    }

    main section div article {
        box-shadow: none;
        transition: box-shadow 0.3s ease-in-out;
    }

    main section div article:hover {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    .descripcion:hover {
        opacity: 1;
    }

    .fa-truck {
        transition: transform 0.3s ease-in-out;
    }

    .fa-truck:hover {
        transform: rotate(-90deg);
    }
    /*Aplicando CSS al footer*/
}